.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;

  .def {
    div {
      margin: 15px 0;
    }

    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: center;
      gap: 40px;

      div {
        width: 50%;
      }
    }
  }
}

.doc_lier{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}