.doc_lier {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 50px;
}

.div_competence {
  ul {
    display: flex;
    gap: 20px;
    margin-top: 30px;

    img {
      width: 100px;
    }
  }
}