.context{
  width: 100%;
}

img{
  width: 50%;
  margin: 20px 0;
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: rgb(236, 203, 141);
  padding: 15px;
  border-radius: 15px;
}