.context {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(236, 203, 141);
    padding: 15px;
    border-radius: 15px;
}

.Lien{
    margin-bottom: 50px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}